<!-- <p>nav works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav navbar-nav">
    <li class="nav-item" *ngIf="!isLoggedIn"  [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['login']">Login </a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['customer']">List </a>
    </li>
      <li class="nav-item" *ngIf="isLoggedIn" [routerLinkActive]="['active']">
        <button class="btn button-primary" (click)="logout()">Logout</button>
      </li>
  </ul>
</nav>
